#root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.auth {
  border: 1px solid;
  padding: 60px 40px;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.auth-title {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  color: white;
}

.form-login__wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-hide__wrap {
  position: relative;
}

.form-label {
  position: absolute;
  top: -20px;
  left: 0;
  color: red;
}

.form-input {
  padding: 15px;
  border-radius: 10px;
  border: 2px solid grey;
  width: 100%;
  font-size: 16px;
}

.form-input:focus-visible {
  border: 2px solid #11c6e5;
}

.form-btn {
  padding: 10px 20px;
  background-color: #4f00f6;
  color: white;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color .2s ease-in-out;
}

@media(any-hover: hover) {
  .form-btn:hover {
    background-color: #8a58f5;
  }
}

.form-btn:active {
  background-color: #300787;
}

.form-btn:focus-visible {
  background-color: #300787;
}